
 @model IEnumerable<OJP.Data.Entities.JobPost>
@{
    Layout="_SeekerLayout";
    }
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #F2F2F2;
    }
    a {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover {
        color: #4CAF50;
        text-decoration: underline;
    }
</style>
<div>
    <h2>User Details</h2>
</div>
<table>
    <thead>
        <tr>
            <th>CompanyName</th>
            <th>JobTitle</th>
            <th>JobType</th>
            <th>JobDescription</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
           
          
        </tr>
    </thead>
    <tbody>
        @foreach(var prod in Model)
        {
            <tr>
                 <td>
                    @prod.CompanyName
                </td>
                <td>
                   @prod.JobTitle
                </td>
                <td>
                   @prod.JobType
                </td>
                <td>
                   @prod.JobDescription
                </td>
                <td>
                   @prod.Email
                </td>
                <td>
                    @prod.Phone
                </td>
                
            </tr>
        }
    </tbody>
</table>