@model IEnumerable<OJP.Data.Entities.JobApply>
@{
    Layout="Layout1";
    }
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #F2F2F2;
    }
    a {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover {
        color: #4CAF50;
        text-decoration: underline;
    }
</style>

<h1>@ViewData["Errormsg"]</h1>
<div>
    <h2>AppliedJobs</h2>
</div>
<table>
    <thead>
        <tr>
            <th>CompanyName</th>
            <th>JobTitle</th>
            <th>AppliedAt</th>
            <th>JobType</th>
            
           
          
        </tr>
    </thead>
    <tbody>
        @foreach(var applied in Model)
        {
            <tr>
                <td>
                   @applied.JobPost.CompanyName
                </td>
                <td>
                   @applied.JobPost.JobTitle
                </td>
               
                 <td>
                    @applied.AppliedAt
                </td>
                <td>
                   @applied.JobPost.JobType
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteAppliedJob", new { @Id=applied.Id}, new { onclick = "return confirm('Are you sure you want to delete this user detail?');" })
                </td>
          
               
                
            </tr>
        }
    </tbody>
</table>